* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

section {
    display: flex;
    background-color: #3d5b79;
    height: auto;
}

.info {
    height: 6vh;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #2c3e50;
    margin-top: 30px;
    padding: 3px 8px;
    width: 40vw;
    font-size: 17px;
    margin-bottom: 20px;
    color: #000;
}

.sideleft {
    height: 102vh;
    width: 28vw;
    margin-top: 10vh;
    margin-left: 27vh;
    margin-bottom: 10vh;
    border-radius: 7px 0 0 7px;
    background-color: #2c3e50;
}

.sideleft p {
    color: #2c3e50;
    background-color: #fff;
    padding: 7px 30px;
    font-size: 20px;
    display: inline-block;
    border-radius: 20px;
    margin-top: 1.7rem;
    margin-left: 7vw;
    font-weight: 300;
}

.sideleft h2 {
    font-size: 40px;
    margin-left: 4vw;
    color: #fff;
    margin-top: 30vh;
}

.sideright {
    height: 102vh;
    width: 50vw;
    border-radius: 0 7px 7px 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.sideright p {
    margin-top: 3rem;
    font-size: 2rem;
}

#submit_btn {
    font-size: 20px;
    padding: 7px 30px;
    border-radius: 20px;
    margin-left: 17vw;
    margin-top: 2rem;
    border: 2px solid#2c3e50;
    color: #fff;
    background-color: #2c3e50;
    cursor: pointer;
}
@media (max-width:1000px){
    .sideleft h2{
        font-size: 19px;
    }
    .sideleft p{
        padding: 5px 20px;
        font-size: 17px;
    }
    .info{
        margin-left: 0px;
    }
    .sideleft{
        margin-left: 12vw;
    }
}
@media (max-width:700px){
    .sideleft{
        margin-left: 10vw;
    }
}
@media(max-width:627px){
    .info{
        width: 80vw;
    }
    section{
        flex-direction: column-reverse;
        align-items: center;
    }
    .sideright,.sideleft{
        width: 90vw;
    }
    .sideright{
        height: 110vh;
    }
    .sideright p{
        font-size: 1.5rem;
    }
    .sideleft{
        margin: 0;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sideleft :is(p,h2){
        margin: 0;
    }
    #submit_btn{
        margin-bottom: 1rem;
    }
}